#ui_home {
	display: block;
}
#ui_username, #ui_play, #ui_stats, #ui_instructions {
	display: none;
}
body { 
	font-family: 'Roboto', sans-serif;
	position: relative; margin: 10px; padding: 0; background:#000; color:#fff; 
}

header { font-weight: bold; border-bottom:1px solid grey; padding-top:5ex; padding-bottom:1ex; }

nav {
	display: flex;
	width: 100%;
}

.alignleft { width:33.33333%; text-align:left; }
.aligncenter { width:33.33333%; text-align:center; }
.alignright { width:33.33333%; text-align:right; }

nav a { }

nav a:hover { transform: scale(1.1); }

.textblock {
	border:1px solid white; 
	width:50%; 
	padding:1ex;
	margin: 1ex auto 1ex auto;
}

.letterbox td {
	text-align: center;
	border:1px solid grey;
	width:3ex;
	height:3ex;
}


.keyboardrow td {
	text-align: center;
	border:1px solid grey;
	width:3ex;
	height:3ex;
}


.ui_top h2 {
	text-align: center;
}
.message-bay{
	text-align: center;
}

#ui_nav a{
	font-size: 24px;
	color: #fff;
	background: #000;
}

#ui_nav a.nav_selected{
	color: #6f6;
	background: #000;
	font-size: 28px;
}

nav a:hover > span.material-symbols-outlined { 
	font-size: 28px;
}